{#{% extends "admin/base_site.html" %}#}
{#{% load i18n %}#}
{##}
{#{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>#}
{##}
{#<p><a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a></p>#}
{##}
{#{% endblock %}#}
{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <p>You have log out.</p>
        <p>You can <a href="{% url 'account:user_login' %}">Login </a>again</p>
    </div>

{% endblock %}